Repository ariffmunshi/sgn5_microsite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:dev, build:dev, validate:prod, build:prod

Path conditions:
  validate:dev: any of: infra/environments/development/**/*
  build:dev: any of: infra/environments/development/**/*
  validate:prod: any of: infra/environments/production/**/*
  build:prod: any of: infra/environments/production/**/*

fix: update AWS profile names for S3 backend
  infra/environments/development/providers.tf
  infra/environments/production/providers.tf
Due: validate:dev, build:dev, validate:prod, build:prod

fix: update providers.tf to avoid second role assumption
  infra/backend/providers.tf
  infra/environments/development/providers.tf
  infra/environments/production/providers.tf
Due: validate:dev, build:dev, validate:prod, build:prod

fix: update providers.tf to avoid second role assumption for backend S3
  infra/environments/development/providers.tf
  infra/environments/production/providers.tf
Due: validate:dev, build:dev, validate:prod, build:prod

fix: add debug logging to .gitlab-ci-terraform.yml
  .gitlab-ci-terraform.yml
Due: none

fix: update gitlab CICD scripts to use OIDC instead of AWS credentials in CICD variables
  .gitlab-ci-base.yml
  .gitlab-ci-terraform.yml
  .gitlab-ci.yml
Due: none

fix: update .gitlab-ci-base.yml to remove usage of aws command for debugging purposes
  .gitlab-ci-base.yml
Due: none

fix: update gitlab CICD scripts to handle terraform output
  .gitlab-ci-terraform.yml
  .gitlab-ci.yml
Due: none

fix: update file path for artifacts and deploy-app stages in .gitlab-ci.yml and .gitlab-ci-terraform.yml
  .gitlab-ci-terraform.yml
  .gitlab-ci.yml
Due: none

fix: update rules and dependencies in .gitlab-ci.yml and .gitlab-ci-terraform.yml
  .gitlab-ci-terraform.yml
  .gitlab-ci.yml
Due: none

fix: update .gitlab-ci.yml to properly export variables to shell environment
  .gitlab-ci.yml
Due: none

fix: update .gitlab-ci.yml to fix syntax errors
  .gitlab-ci.yml
Due: none

fix: update .gitlab-ci.yml to fix syntax errors using older string formatting
  .gitlab-ci.yml
Due: none

fix: add default rule behaviour for terraform gitlab CICD script and remove debug logs
  .gitlab-ci-terraform.yml
  .gitlab-ci.yml
Due: none

fix: patch default rule behaviour for terraform gitlab CICD script
  .gitlab-ci-terraform.yml
Due: none

fix: update default rule behaviour for deploy in terraform gitlab CICD script so that it outputs terraform variables
  .gitlab-ci-terraform.yml
Due: none

fix: update default rule behaviour for build in terraform gitlab CICD script so that it outputs terraform plan output file
  .gitlab-ci-terraform.yml
Due: none

feature: change page url path
  app/src/components/Navigation.astro
Due: none

fix: resolve vulnerability for backend DynamoDB Table not encrypted
  infra/backend/main.tf
Due: none

fix: resolve vulnerability for microsite S3 static website host enabled
  infra/modules/storage/s3/microsite.tf
Due: none

fix: resolve vulnerability for storage S3 buckets without versioning
  infra/modules/storage/s3/logs.tf
  infra/modules/storage/s3/microsite.tf
Due: none

fix: resolve vulnerability for cloudfront without min protocol TLS 1.2
  infra/modules/cdn/cloudfront/main.tf
Due: none

fix: resolve vulnerability for S3 bucket policy accepts http requests
  infra/modules/storage/s3/logs.tf
  infra/modules/storage/s3/microsite.tf
Due: none

fix: resolve vulnerability for CloudWatch log group without KMS
  infra/environments/development/main.tf
  infra/environments/development/outputs.tf
  infra/environments/production/main.tf
  infra/environments/production/outputs.tf
  infra/modules/monitoring/cloudtrail/cloudwatch.tf
  infra/modules/monitoring/cloudtrail/variables.tf
  infra/modules/security/kms/data.tf
  infra/modules/security/kms/main.tf
  infra/modules/security/kms/outputs.tf
  infra/modules/security/kms/variables.tf
  infra/modules/storage/s3/variables.tf
Due: validate:dev, build:dev, validate:prod, build:prod

fix: resolve vulnerability for S3 bucket logging disabled
  infra/backend/backend.auto.tfvars
  infra/backend/data.tf
  infra/backend/main.tf
  infra/backend/outputs.tf
  infra/backend/variables.tf
  infra/environments/development/data.tf
  infra/environments/development/dev.auto.tfvars
  infra/environments/development/main.tf
  infra/environments/development/outputs.tf
  infra/environments/development/providers.tf
  infra/environments/development/variables.tf
  infra/environments/production/main.tf
  infra/environments/production/outputs.tf
  infra/environments/production/prd.auto.tfvars
  infra/modules/storage/s3/cloudtrail_logs/main.tf
  infra/modules/storage/s3/cloudtrail_logs/outputs.tf
  infra/modules/storage/s3/cloudtrail_logs/variables.tf
  infra/modules/storage/s3/microsite/main.tf
  infra/modules/storage/s3/microsite/outputs.tf
  infra/modules/storage/s3/microsite/variables.tf
Due: validate:dev, build:dev, validate:prod, build:prod

fix: resolve error with KMS module setup
  infra/modules/security/kms/data.tf
Due: none

fix: remove CloudFront module and use existing CloudFront for dev env
  infra/environments/development/data.tf
  infra/environments/development/dev.auto.tfvars
  infra/environments/development/main.tf
  infra/environments/development/outputs.tf
  infra/environments/development/variables.tf
  infra/modules/cdn/cloudfront/data.tf
  infra/modules/cdn/cloudfront/main.tf
  infra/modules/cdn/cloudfront/outputs.tf
  infra/modules/cdn/cloudfront/variables.tf
Due: validate:dev, build:dev

fix: update KMS policy
  infra/modules/security/kms/data.tf
Due: none

fix: update output to include cloudfront variables
  infra/environments/development/outputs.tf
Due: validate:dev, build:dev

fix: resolve vulnerability for KMS key with vulnerable policy
  infra/modules/security/kms/data.tf
Due: none

update packages
  app/package-lock.json
Due: none
